:root {
    --radius-0: 0;
    --radius-1: 4px;
    --radius-2: 8px;
    --radius-3: 12px;
    --radius-4: 16px;
    --radius-5: 24px;
    --radius-6: 32px;
    --radius-7: 48px;
    --radius-circle: 1000px;
}