.shadow-0{
    box-shadow: none;
}
.shadow-1{
    box-shadow: 24px 24px 32px $neutral-500, -24px -24px 32px $neutral-100;
}
.shadow-2{
    box-shadow: 16px 16px 24px $neutral-500, -16px -16px 24px $neutral-100;
}
.shadow-3{
    box-shadow: 8px 8px 12px $neutral-500, -8px -8px 12px $neutral-100;
}
.shadow-4{
    box-shadow: 4px 4px 6px $neutral-500, -4px -4px 6px $neutral-100;
}