// Typography
.display{
    font-size: var(--display);
    font-weight: var(--bold);
}
.title-5xl{
    font-size: var(--title-5xl);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.title-4xl{
    font-size: var(--title-4xl);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.title-3xl{
    font-size: var(--title-3xl);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.title-2xl{
    font-size: var(--title-2xl);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.title-xl{
    font-size: var(--title-xl);
    font-weight: var(--bold);
    line-height: var(--title-line-height);
}
.body-lg{
    font-size: var(--body-lg);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}
.body-md{
    font-size: var(--body-md);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}
.body-sm{
    font-size: var(--body-sm);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}
.body-xs{
    font-size: var(--body-xs);
    font-weight: var(--regular);
    line-height: var(--body-line-height);
}

.bold{
    font-weight: var(--bold);
}
.regular{
    font-weight: var(--regular);
}

@media (min-width: 993px) {
    .display{
        line-height: var(--title-line-height);
    }
}