.business-card-body{
    background-color: $bg-primary;
}
.business-card-main{
    padding: var(--spacing-9) var(--spacing-4);
    overflow: hidden;
    .container{
        max-width: 992px;
        padding: var(--spacing-6);
        .logo{
            display: flex;
            justify-content: end;
            img{
                width: 50%;
            }
        }
        .name{
            color: $text-secondary;
        }
        .tel, .fax, .email, .address{
            color: $text-primary;
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            background-color: $neutral-300;
            border-radius: var(--radius-3);
            box-shadow: $box-shadow-xs;
            padding: var(--spacing-3) var(--spacing-4);
            margin-bottom: var(--spacing-6);
            transition: all 0.6s ease-in-out;
            &:hover, &.hover, &:focus, &.focus{
                box-shadow: $box-shadow-sm;
                color: $text-hover-primary;
                background-color: $neutral-200;
                cursor: pointer;
            }
        }
        .address{
            align-items: start;
            margin-bottom: var(--spacing-9);
        }
        .company{
            line-height: var(--body-line-height);
            text-transform: uppercase;
        }
        .website{
            color: $text-secondary;
            text-align: end;
            text-decoration: underline;
        }
    }
}