.vernalco-bc-body, .vernal-bc-body{
    background-color: $bg-primary;
}

.vernal-bc-main{
    font-family: $jp-font-family;
}

.vernalco-bc-main{
    font-family: $font-family;
}

.vernal-bc-main, .vernalco-bc-main{
    padding: var(--spacing-9) var(--spacing-4);
    overflow: hidden;
    .container{
        max-width: 768px;
        padding: var(--spacing-6);
        .logo{
            display: flex;
            justify-content: end;
            img{
                width: 50%;
            }
        }
        .dept{
            text-align: end;
        }
        .tel, .fax, .email, .address{
            color: $text-primary;
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            background-color: $neutral-300;
            border-radius: var(--radius-3);
            box-shadow: $box-shadow-xs;
            padding: var(--spacing-3) var(--spacing-4);
            margin-bottom: var(--spacing-6);
            transition: all 0.6s ease-in-out;
            &:hover, &.hover, &:focus, &.focus{
                box-shadow: $box-shadow-sm;
                background-color: $neutral-200;
                cursor: pointer;
            }
        }
        .address{
            align-items: start;
            margin-bottom: var(--spacing-9);
        }
        .company{
            line-height: var(--body-line-height);
            text-transform: uppercase;
        }
        .website{
            text-align: end;
            text-decoration: underline;
        }
    }
}

.vernal-bc-main{
    .name-box{
        display: flex;
        .name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .email{
        position: relative;
        .desc{
            position: absolute;
            top: 50%;
            right: var(--spacing-4);
            transform: translateY(-50%);
        }
    }
}

.vernalco-bc-main{
    .name, .website{
        color: $text-secondary;
    }
    .tel, .fax, .email, .address{
        &:hover, &.hover, &:focus, &.focus{
            color: $text-hover-primary;
        }
    }
}